<?xml version = '1.0' encoding = 'UTF-8'?>

<beans xmlns          = 'http://www.springframework.org/schema/beans'
   xmlns:xsi          = 'http://www.w3.org/2001/XMLSchema-instance'
   xsi:schemaLocation = 'http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd'>


  <!--=================================================
    =  Security Service                               =
    =================================================-->

  <bean name  = 'eventPoint' factory-method = 'getInstance'
        class = 'com.tverts.event.EventPoint'>

    <property name  = 'reactor'>
      <bean class = 'com.tverts.event.Reactors'>
        <property name = 'references'>
          <list>

            <!-- · · · · · · · · · · · · · · · · · · · · · · · · · · · · ·
             · Security Service
             · · · · · · · · · · · · · · · · · · · · · · · · · · · · · -->
            <ref bean = 'secService'/>

          </list>
        </property>
      </bean>
    </property>
  </bean>
</beans>