<?xml version = '1.0' encoding = 'UTF-8'?>
<!DOCTYPE log4j:configuration SYSTEM 'log4j.dtd'>

<log4j:configuration threshold = 'debug'
  xmlns:log4j = 'http://jakarta.apache.org/log4j/'>

  <appender name = 'hibernate' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_hbm.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <param name = 'Threshold' value = 'info'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'spring' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_spring.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <param name = 'Threshold' value = 'info'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'services' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_services.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <param name = 'Threshold' value = 'info'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'shunts' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_shunts.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'genesis' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_genesis.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'debug' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_debug.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p [%t] %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>

  <appender name = 'other' class = 'org.apache.log4j.FileAppender'>
    <param name = 'File' value = '${catalina.base}/logs/retrade_other.log'/>
    <param name = 'Encoding' value = 'UTF-8'/>
    <param name = 'Append' value = 'false'/>
    <param name = 'Threshold' value = 'info'/>
    <layout class = 'org.apache.log4j.PatternLayout'>
      <param name = 'ConversionPattern' value='%-5p [%t] %d{HH:mm:ss.SSS} %c{1}: %m%n'/>
    </layout>
  </appender>


  <!-- Spring -->

  <logger name = 'org.springframework'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'spring'/>
  </logger>


  <!-- Hibernate and Hibery -->

  <logger name = 'org.hibernate'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'hibernate'/>
  </logger>

  <logger name = 'com.tverts.hibery'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'hibernate'/>
  </logger>

  <logger name = 'com.tverts.hibery.sql'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'hibernate'/>
  </logger>

  <logger name = 'com.mchange.v2.c3p0'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'hibernate'/>
  </logger>

  <logger name = 'org.hibernate.SQL'
    additivity = 'false'>

    <level value = 'off'/>
    <appender-ref ref = 'hibernate'/>
  </logger>

  <logger name = 'com.tverts.endure.keys.KeysGenerator'
    additivity = 'false'>

    <level value = 'off'/>
    <appender-ref ref = 'genesis'/>
  </logger>


  <!-- Genesis and Self-Shunts -->

  <logger name = 'com.tverts.genesis'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'genesis'/>
  </logger>

  <logger name = 'com.tverts.shunts'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'shunts'/>
  </logger>


  <!-- Services -->

  <logger name = 'com.tverts.system.services'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'services'/>
    <appender-ref ref = 'debug'/>
  </logger>

  <logger name = 'com.tverts.exec.service.ExecRunService'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'services'/>
    <appender-ref ref = 'debug'/>
  </logger>

  <logger name = 'com.tverts.genesis.GenesisService'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'genesis'/>
    <appender-ref ref = 'services'/>
    <appender-ref ref = 'debug'/>
  </logger>

  <logger name = 'com.tverts.system.services.SelfShuntService'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'shunts'/>
    <appender-ref ref = 'services'/>
  </logger>


  <!-- Actions and Execution -->

  <logger name = 'com.tverts.retrade.exec.api'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'debug'/>
    <appender-ref ref = 'other'/>
  </logger>


  <!-- Events and Secure -->

  <logger name = 'com.tverts.event'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'debug'/>
  </logger>

  <logger name = 'com.tverts.secure'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'other'/>
    <appender-ref ref = 'debug'/>
  </logger>


  <!-- Debugging -->

  <logger name = 'com.tverts.debug'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'debug'/>
  </logger>

  <logger name = 'com.tverts.timing'
    additivity = 'false'>

    <level value = 'debug'/>
    <appender-ref ref = 'debug'/>
  </logger>


  <!-- Other -->

  <logger name = 'com.tverts'
    additivity = 'false'>

    <level value = 'info'/>
    <appender-ref ref = 'other'/>
  </logger>

  <root>
    <priority value = 'info'/>
    <appender-ref ref = 'other'/>
  </root>
</log4j:configuration>